@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.items {
  flex-direction: row;
}

section {
  width: 100%;
}

.card-title {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 3px;
  font-family: 'Poppins';
  letter-spacing: -1px;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.circle {
  margin-top: 5px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.circle-selected {
  margin-top: 0px;
  border-style: solid;
  width: 50px;
  height: 50px;
}

.card-button {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  justify-content: space-between;
  align-items: center;
}

.selected {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 10px solid #4ebde8;
}

.graphite {
  background-color: #212121;
}
.gray {
  background-color: #3e567c;
}

.circle-text {
  font-family: 'Poppins';
  font-size: 20px;
  letter-spacing: -2px;
}

.circle-span {
  font-size: 40px;
  color: #707070;
}

.circle-span-selected {
  color: black;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  margin: 2px 0px;
  font-family: 'Poppins';
  font-size: 16px;
  letter-spacing: -1px;
}

input {
  text-align: center;
  min-height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.add-to-cart-btn {
  background-color: #c7e015;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-to-cart-btn span {
  font-family: 'Poppins';
  font-weight: bold;
}

@media (min-width: 760px) {
  .App {
    justify-content: center;
  }
  
  .App-container {
    width: 85vh;
    background-color: #edf6fd;
  }

  .items {
    display: flex;
    padding: 20px 20px 0px 20px;
  }

  section {
    display: flex;
    align-items: center;
  }

  .section-card {
    width: 50%;
  }

  .card, .section-card {
    height: 220px;
  }

  .card-border {
    border-right: solid;
    border-color: #858788;
  }

  .card-container {
    padding: 15px;
  }

  .card-button {
    min-width: 9vh;
  }

  .form {
    padding: 10px;
    text-align: center;
  }

  input {
    width: 60%;
  }

  .add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 55px;
    padding-bottom: 20px;
  }

  .add-to-cart-btn {
    margin-right: 7vh;
    padding: 15px;
    width: 30vh;
  }

  .add-to-cart-btn span {
    font-size: 22px;
  }

  /* weird lines */
  .weird-line {
    float: right;
    background-color: #c9f0ff;
    padding: 15px;
    width: 30vh;
  }

  .weird-div {
    position: absolute;
    margin-right: 40.5vh;
    background-color: #c9f0ff;
    width: 44.5vh;
    height: 9vh;
  }

  .weird-div-line {
    margin: 20px 0px 30px 20px;
    padding: 2px;
    width: 90%;
    background-color: #edf6fd;
  }

  .message {
    position: absolute;
    margin-top: 45vh;
    font-weight: bold;
  }
}

@media (max-width: 759px) {
  .App-container {
    margin-top: 7vh;
    height: 70vh;
    width: 40vh;
  }

  section {
    margin: 15px 0 0 2%;
    width: 95%;
  }

  .card {
    background-color: #edf6fd;
    width: 100%;
    padding: 20px 15px;
  }

  .section-card {
    background-color: #edf6fd;
    width: 100%;
  }

  .middle {
    padding: 20px 15px;
  }
  .forms {
    padding: 0 15px;
  }

  .card-title {
    width: 90%;
  }

  .card-container {
    padding: 10px;
  }

  .card-button {
    min-width: 15vh;
  }

  .form {
    padding: 10px;
    text-align: center;
  }

  .add-to-cart {
    margin: 1.5vh 0 0 6vh;
    padding: 5px;
    width: 29vh;
    height: 6vh;
    background-color: #edf6fd;
  }

  .add-to-cart-btn {
    margin-left: 1.5%;
    width: 97%;
    height: 90%;
  }

  .message {
    position: absolute;
    margin-top: 92vh;
    font-weight: bold;
  }
}
